*{
    color: #0b0b0b;
}

h1{
    text-align: center;
    color:#6e010d;
}

.card{
    overflow:scroll;
    overflow-x:hidden;
    width: 40%;
    height: 200px;
    background-color: #8bd5ce80;
    border-radius: 5px;
} 